[submodule "app/src/main/jni/moonlight-core/moonlight-common-c"]
	path = app/src/main/jni/moonlight-core/moonlight-common-c
	url = https://github.com/JustinZeus/moonlight-common-c/tree/fix/rfi-loss-fixes
